body{
    height: 100%;
    width: 100%;
}

header, footer {
    width: 100%;
}

.jumbotron {
    background: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
}

.footer {
    background: darkslategrey;
    color: whitesmoke;
}